extends layout

block content
  canvas(name='myCanvas', width='500', height='300', style='border:1px solid #000; background-color: #eee')
  p
    a(href='/login') Login
<<<<<<< HEAD
        
=======
  p
    a(href='/create') Create User
>>>>>>> ae3d259fd99d43a3f3915c691fbff07334736c0a
