extends layout

block content
  form(name="myForm", method='post', action='/login')
    div
      input(type="text" name="userName" id="username" class="inputBox" autocapitalize="off" autocomplete="off"
      autocorrect="off" required="required" placeholder="Username" aria-label="Username")
    div
      input(type="password" name="password" id="password" class="inputBox" autocapitalize="off" autocomplete="off" 
      autocorrect="off" required="required" placeholder="Password" aria-label="Password")
    div(class="space")
    input(type="submit" value="Sign In")
    br
    p
      a(href='/') Back
    